@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "transition-style";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #030303;
}


.sidebar{
    backdrop-filter: blur(5px);
    color: #ff4646;
}
.dropdown-menu{
    color: rgb(255, 62, 62);
}
.btn-outline-success{
    color: rgba(255, 255, 255, 0.521);
    border-color: #ff4646;
    background-color: #ffffff59;
    font-weight: 500;
    border: none;
}
.btn-outline-success:hover{
    background-color:  #ff46468f;
    color: #ffffff;
}

#navbarDropdown{
    color: #ff4646;
}
#navbarDropdown:hover{
    color: #fff;
}
#boton{
    color: #ff4646;
}
#boton:hover{
    color: #fff;
}
.shadow-sm{
    background-color: #fffefe;
    z-index: 100;
}
.shadow-sm:hover{
    background-color: #ff4646f8;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
   

}


#imagenprueba::before{
    content: '';
    width: 100%;
    height: 100%;

    background-color: #ff4646;
    z-index: 100;

}
.dropdown-menu{
   
    z-index: 100;
}
.dropdown-item{
    color: #ffffff;
    z-index: 100;
}
.dropdown-item:hover{
    color:  #ff4646;
}
.nav-item{
    color: #ff4646;
}
.espaciador{
    display: initial;
    flex-wrap: wrap;
   
}
.espaciador  p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 500;
    font-size: calc(2vh + .1em);
    background-color: #ff4646;
    transition: all ease-in-out 0.5s;
    color: #ffffff;
    padding: 5px 0;
    border-top: #ff46467c 1px solid;
    
}
.espaciador p:hover{
    text-decoration:underline;
    cursor: pointer;
    background-position: right center;
    background-size: 200% auto;
    
}
.espaciador h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.9rem;
    padding: 10px 0 10px 2px;
    margin-left: 2px;
    gap: 8px;
    color: #fff;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%,  rgba(7,7,9,1) 93.2% );
    border-top: #ff4646 1px solid;
    
    
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  footer{
    display: flex;
    width: 100%;
    position: absolute;
    right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    border-top: #fff 2px solid;
    border-bottom: #fff 2px solid;
}

footer img{
    width: 300px;
    height: 150px;
}
.iconosredes a > i{
    display: inline-block;
    text-decoration: none;
    color: #ffffff73;
    border: 2px solid #ffffff48;
    border-radius: 50%;
    padding: 6px;
    margin: 5px;


}
.iconosredes a{
    text-decoration: none ;
    color: #ffffff41;
}

.contenidofooter{
    display: flex;
}
.contenidofooter li{
    list-style: none;
    padding: 10px;
    color: #ffffffb4;
    border-top: #ffffff49 2px solid;
    transition: border-top 1s ease 0s;
}
.contenidofooter li{
    border-top: #fffcfc52 0.5px solid;

}
.col{
    background-color: #0a0a0a;
}
.shadow-sm{
    
    color: #000000;
    font-weight: 600;
}
.btn-group a{
    background-color: #ff4646;
    color: #fcfcfc;
    border: none;
    border-radius: 20px;
}
.btn-group a:hover{
    background-position: right center;
    background-color: #b3b3b3;
    background-size: 200% auto;
    color: #000000;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.display-4{
    font-size: 3rem;
    font-weight: 900;
}
.position-relative{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
}

.nav-link a{
    color: floralwhite;
}


@media (max-width:576px){

    .espaciador p{
        font-size: calc(1vh + .1em);
    }
    .espaciador h1{
        font-size: calc(3vh + .1em);
    }
    /* ----CARRUSEL MEDIA QUERY*/
    .carousel img{
        height: 250px;
        width: 100%;

    }
    .display-4{
        font-size: 2rem;
    }
    .contenidofooter{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       width: 100%;
       justify-content: center;
       
       
       
    }
    .espaciador h1{
        font-size: 1.1rem;
    }
}